html {
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
.row {
  margin: 0;
  padding: 0;
}
.gitForm {
  margin: 1rem auto;
  max-width: 500px;
  height: 347px;
}
.formSearch {
  display: flex;
}
.formSearch input#search {
  margin-top: -0.8rem;
  margin-right: 2rem;
  padding-left: 0.5rem;
}
.collection li.collection-item.avatar {
  min-height: 60px;
}
.gitForm .userList {
  display: none;
}

.gitForm .userList .collection {
  height: 240px;
  overflow: auto;
}
.gitForm .pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gitForm #preloader {
  display: none;
  margin-top: 5rem;
  background: rgba(0, 0, 0, 0.15);
  z-index: 11;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}
.gitForm #notify {
  display: none;
}
